@import "tailwindcss";

@theme {
}

body {
    height: 100vh;
    margin: auto;
    font-size: 1.25em;
    font-family: serif;
    background-color: #000000;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

a:link { text-decoration: none;}
